{% extends "greg1App/master.html" %}

{% block title %} Greg1App Home Page {% endblock %}

{% block content %}
<HR>
<P align=center>Welcome to the home page for the Greg1App</P>

<HR>

<P>Links for Greg1App</P>

<UL>
	<LI><A href="person_list">Person List</A></LI>
	<LI><A href="person_create">Add Person</A></LI>
</UL>

<HR>
<H1>Heading 1</H1>
<H2>Heading 2</H2>
<H3>Heading 3</H3>

<P>Paragraph</P>

<UL>
	<LI>Unordered item #1</LI>
	<LI>Unordered item #2</LI>
	<LI>Unordered item #3</LI>
</UL>

<TABLE border=1>
	<TR>
		<TH>Table column 1</TH>
		<TH>Table column 2</TH>
	</TR>
	<TR>
		<TD>data</TD>
		<TD><A HREF="http://www.google.com">Google</A></TD>
	</TR>
	<TR>
		<TD>data</TD>
		<TD>data</TD>
	</TR>
</TABLE>


{% endblock %}
