{% extends "greg1App/master.html" %} 

{% block title %} greg1App Person List {% endblock %}

{% block content %}

<TABLE border=1>

	<TR>
		<TH>Person</TH>
	</TR>

{% for x in object_list %}

	<TR>
		<TD>
			{{ x }}
			<A HREF="/person_detail/{{ x.id }}">[Details]</A>
			<A HREF="/person_update/{{ x.id }}">[Update]</A>
			<A HREF="/person_delete/{{ x.id }}">[Delete]</A>
		</TD>
	</TR>

{% empty %}

	<TR>
		<TH>
			No people in database
		</TH>
	</TR>

	
{% endfor %}

</TABLE>

<P><A href="/">Return to home page</A></P>

{% endblock %}
