/* important colors
	light blue unvisited link:#003399;
	pink visited link:#800080;
	light blue hover background for link: #ADD8E6;
	white : #FFFFFF
*/

{
	margin: 0px;
	padding: 0px;
}


body {
	background-color:#FFFFFF;
	font-family: "calibri", georgia, arial, sans-serif;
}

img {
	border:none;
}

h1, h2, h3 {
	color: #003F87;
}

h1 {
	font-size:260%;
}

h2 {
	font-size:230%;
}

h3 {
	font-size:210%;
}

td,th {
	font-size:195%;
}

sup {
	font-size:170%;
}

p,li {
	font-size:150%;
}

a:link {
	color:#003399;
	text-decoration:underline;
}

a:visited {
	color:Purple;
	text-decoration:underline;
}

a:hover {
	text-decoration:underline;
	background-color: #ADD8E6;
}

a img:hover {
	background-color: #FFFFFF;
}

table {
	width:100%;
}

table, th, td {
	border-spacing:2px;
	padding:4px;
}

